.my-carousel {
  position: absolute;
  top: 0;
  width: 65%;
}

.carousel-item {
  height: 90vh;
}

.carousel-item img {
  width: 100%;
  margin: auto;
  display:inline-block;
}

.header {
    position: relative;
}

.wcs {
  background-color: #F99797;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
