* {
  font-family: "Playfair Display", serif;
}

.carousel-item img {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.header {
  padding-bottom: 0;
}

.wcs {
  background-color: #f99797;
}

.img {
  max-width: 65px;
  max-height: 100px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.text {
  text-align: center;
  vertical-align: middle;
}

.link {
  color: black !important;
}

.card {
  width: 450px;
  display: inline-flex;
}

.btn-primary {
  background-color: #f99797;
  border-color: white;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.btn-primary:hover {
  background-color: #dd4631;
  color: white;
  border-color: white;
}

.bg-primary {
  background-color: #f99797 !important;
}

.card-columns {
  padding-top: 40px;
}

@media screen and (max-width: 992px) {
  .img {
    max-width: 38px;
    max-height: 50px;
    float: left;
  }

  .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .carousel {
    padding-top: 80px;
  }
}

@media screen and (max-width: 1280px) {
  .text {
    font-size: 10pt;
  }

  .img {
    margin: 0;
  }
}
